beautifulsoup4==4.13.3
cloudscraper==1.2.71
geotext==0.4.0
openai==1.61.1
pandas==2.2.3
phonenumbers==8.13.44
Pillow==11.1.0
playwright==1.49.1
python-dotenv==1.0.1
Requests==2.32.3
selenium==4.28.1
streamlit==1.41.1
webdriver_manager==4.0.2
